<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <div layout:fragment="content" class="bg-light">
    <head>
      <meta charset="UTF-8" />
      <title>상담 내역</title>
      <link rel="stylesheet" th:href="@{/css/counseling.css}" />
      <th:block layout:fragment="css"></th:block>
    </head>
    <body>
      <h1>상담 페이지</h1>
      <div class="board-container">
        <!-- 문의하기 버튼 -->

        <!-- 상담 내역 테이블 -->
        <table>
          <thead>
            <h2>내 상담 내역</h2>
            <tr>
              <th>번호</th>
              <th>상담 유형</th>
              <th>내용</th>
              <th>상담 상태</th>
              <th>수정</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="counseling : ${counselings}">
              <td th:text="${counseling.id}"></td>
              <td th:text="${counseling.counselingType}"></td>
              <td th:text="${counseling.content}"></td>
              <td th:text="${counseling.status}"></td>
              <td>
                <button class="edit-btn" th:data-id="${counseling.id}">
                  수정
                </button>
              </td>
              <td>
                <button class="delete-btn" th:data-id="${counseling.id}">
                  삭제
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- 페이징 -->
        <div class="pagination" th:if="${counselings}">
          <button
            th:each="page : ${#numbers.sequence(1, totalPages)}"
            th:text="${page}"
            th:classappend="${currentPage == page} ? 'active'"
            th:onclick="'location.href=' + @{'/counseling?page='} + ${page}"
          ></button>
        </div>
      </div>

      <!-- 글 작성/수정 폼 -->
      <div id="form-container" style="display: none">
        <form
          action="/center/counseling/save"
          method="post"
          id="counselingForm"
        >
          <input type="hidden" name="id" id="counseling-id" />
          <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
          <div>
            <label for="counselingType">상담 유형:</label>
            <input
              type="text"
              name="counselingType"
              id="counselingType"
              required
            />
          </div>
          <div>
            <label for="content">상담 내용:</label>
            <textarea name="content" id="content" required></textarea>
          </div>
          <div>
            <label for="status">상담 상태:</label>
            <select name="status" id="status">
              <option value="대기">대기</option>
              <option value="진행 중">진행 중</option>
              <option value="완료">완료</option>
            </select>
          </div>
          <button type="submit">저장</button>
          <button type="reset">취소</button>
        </form>
      </div>
    </body>
    <th:block layout:fragment="js">
      <script th:src="@{/js/counseling.js}"></script>
    </th:block>
  </div>
</html>
