<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <div layout:fragment="content">
    <h1>예매 내역</h1>
    <table>
      <thead>
        <tr>
          <th>영화 제목</th>
          <th>상영 시간</th>
          <th>좌석 번호</th>
          <th>예약 상태</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="reservation : ${reservations}">
          <td th:text="${reservation.movieTitle}"></td>
          <td th:text="${reservation.showTime}"></td>
          <td th:text="${reservation.seatNumber}"></td>
          <td th:text="${reservation.reserveStatus}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</html>
