<!DOCTYPE html>
<html lang="en" layout:decorate="~{/admin/layouts/layout}">
  <div layout:fragment="content">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">영화등록</p>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="display expandable-table"
                    style="width: 100%"
                  >
                    <thead>
                      
                      <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                        <form action="" method="post" id="createForm">
                          <input type="hidden" name="mno" value="" />
                          <label class="block text-sm mb-4">
                            <span class="text-gray-700 dark:text-gray-400">제목</span>
                            <input
                              name="title"
                              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                              placeholder="제목"
                              
                            />
                          </label>
                          <label class="block text-sm mb-4">
                            <span class="text-gray-700 dark:text-gray-400">감독</span>
                            <input
                              name="reviewCnt"
                              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                              placeholder="감독"
                              
                            />
                          </label>
                          <label class="block text-sm mb-4">
                            <span class="text-gray-700 dark:text-gray-400">출연진</span>
                            <input
                              name="reviewAvg"
                              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                              placeholder="출연진"
                              
                            />
                          </label>
                          <label class="block text-sm mb-4">
                            <span class="text-gray-700 dark:text-gray-400">장르</span>
                            <input
                              name="reviewAvg"
                              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                              placeholder="장르"
                              
                            />
                          </label>
                          <label class="block text-sm mb-4">
                            <span class="text-gray-700 dark:text-gray-400">등급</span>
                            <input
                              name="reviewAvg"
                              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                              placeholder="등급"
                              
                            />
                          </label>
                          <label class="block text-sm mb-4">
                            <span class="text-gray-700 dark:text-gray-400">개봉일</span>
                            <input
                              name="reviewAvg"
                              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                              placeholder="개봉일"
                              
                            />
                          </label>
                          
                          <label class="block text-sm mb-4">
                            <span class="text-gray-700 dark:text-gray-400">Image Files</span>
                            <input
                              type="file"
                              class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                              placeholder="포스터"
                              multiple
                              accept="image/png, image/jpeg"
                            />
                          </label>
                          <div>
                            <button
                              
                              class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                            >
                              수정
                            </button>
                            
                            <button
                              
                              type="button"
                              class="px-4 py-2 text-sm font-medium leading-5 text-black transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
                            >
                              삭제
                            </button>
                          </div>
                        </form>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
