<!DOCTYPE html>
<html lang="en" layout:decorate="~{/admin/layouts/layout}">
  <div layout:fragment="content">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">
              영화관 관리
              <a th:href="@{/admin/page/movieAdd}" class="btn btn-outline-primary"> 등록 </a>
            </p>
            <form th:action="@{/admin/page/movie}" method="get" class="row row-cols-lg-auto g-3 align-items-center">
              <div class="col-4">
                <div class="form-floating">
                  <select class="form-select" name="state">
                    <option value="" selected>----------</option>
                    <option th:each="state : ${states}" th:value="${state.state}" th:text="${state.state}"></option>
                  </select>
                  <label class="">지역명</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating">
                  <input type="text" class="form-control" placeholder="" name="name" />
                  <label for="floatingInputGrid">영화관 이름으로 찾기</label>
                </div>
              </div>

              <div class="col-4">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
              </div>
            </form>

            <form th:action="@{/admin/page/movie}" method="post" id="movieForm">
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="example" class="display expandable-table" style="width: 100%">
                      <thead>
                        <tr>
                          <th>지역</th>
                          <th>영화관명</th>
                          <th>영화관 주소</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="list : ${add}" th:attr="data-tno=${list.tno}">
                          <td th:text="${list.state}"></td>
                          <td th:text="${list.name}"></td>
                          <td th:text="${list.add}"></td>
                          <td>
                            <button type="button"><i class="fa-solid fa-xmark"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <form th:action="@{/admin/page/remove}" method="post" id="reForm">
      <input type="hidden" name="tno" th:value="${movieAdd.tno}" />
    </form> -->
  </div>
  <th:block layout:fragment="js">
    <script th:src="@{/admin/js/remove.js}"></script>
  </th:block>
</html>
