<!DOCTYPE html>
<html lang="en" layout:decorate="~{/admin/layouts/layout}">
  <div layout:fragment="content">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">유저 관리</p>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table
                    id="example"
                    class="display expandable-table"
                    style="width: 100%"
                  >
                    <thead>
                      <tr>
                        <th>유저 아이디</th>
                        <th>유저 이름</th>
                        <th>유저 이메일</th>
                        <th>유저 성별</th>
                        <th>생년월일</th>
                        <th>권한</th>
                        <th>가입일</th>
                        <th></th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
