<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css"></th:block>

  <div layout:fragment="content">
    <!-- Product Section Begin -->
    <section class="product spad">
      <div class="container">
        <div class="row p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
          <!-- <div class="col-lg-4 imgtest"></div>
          <div class="col-lg-8">
            <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
          </div> -->
        </div>
      </div>
    </section>
    <!-- Product Section End -->
    <form action="" method="post" id="actionForm">
      <input type="hidden" name="page" th:value="${page != null ? page:1}" />
      <input type="hidden" name="id" th:value="${id}" />
    </form>
  </div>
  <th:block layout:fragment="js">
    <script th:src="@{/js/movieDetail.js}"></script>
  </th:block>
</html>
