<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css"></th:block>

  <div layout:fragment="content">
    <!-- Product Section Begin -->
    <section class="product spad">
      <div class="container">
        <div class="row">
          <div class="">
            <div class="trending__product">
              <!-- 메뉴 -->
              <ul class="nav nav-pills nav-fill mb-4 tab-list">
                <li class="nav-item">
                  <a
                    class="nav-link bg-danger active"
                    aria-current="page"
                    href="#"
                    >현재 상영작</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">상영 예정작</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">전체 영화 목록</a>
                </li>
              </ul>
              <!-- 영화 리스트 -->
              <div class="row trending__product-row">
                <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="product__item">
                    <div
                      class="product__item__pic set-bg"
                      data-setbg="img/trending/trend-1.jpg"
                    >
                    <div>
                      <img src="" alt="" class="product__item__pic set-bg">

                    </div>
                      <div class="ep">NO.01</div>
                      <div class="comment">
                        <i class="fa fa-comments"></i> 11
                      </div>
                      <div class="view"><i class="fa fa-eye"></i> 9141</div>
                    </div>
                    <div class="product__item__text">
                      <ul>
                        <li>예매율</li>
                        <li>개봉일</li>
                      </ul>
                      <h5>
                        <a th:href="@{/movie/read}">영화 메인 타이틀</a>
                      </h5>
                    </div>
                  </div>
                </div> -->
              </div>
              <!-- 페이지 -->
              <nav aria-label="...">
                <ul class="pagination justify-content-center">
                  <!-- <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                  </li>
                  <li th:class="page-item" aria-current="page">
                    <a
                      class="page-link"
                      text="2"
                      th:href="@{movieList(page=2)}"
                    ></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link">Next</a>
                  </li> -->
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Section End -->
    <form action="" method="post" id="actionForm">
      <input type="hidden" name="page" th:value="${page != null ? page:1}" />
      <input type="hidden" name="size" value="20" />
    </form>
  </div>

  <th:block layout:fragment="js"> </th:block>
</html>
