<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <style>
      .spad {
        padding: 0;
      }
      .product {
        padding: 0;
      }
      .product__item__text {
        padding-top: 0;
        padding-left: 10px;
      }
      .product__item__text ul {
        margin: 0;
        color: #ffffff;
        font-weight: 500;
      }
      .product__item__text h5 a {
        color: #ffffff;
        font-weight: 700;
        line-height: 26px;
        display: block;
        width: 222px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .sub-head {
        margin-bottom: 10px;
        margin-left: 20px;
      }
      .sub-head h3 {
        margin-right: 10px;
      }
    </style>
  </th:block>

  <div layout:fragment="content">
    <form class="" role="search" th:action="@{movieList}" id="searchForm">
      <input type="hidden" name="page" th:value="1" />
      <input type="hidden" name="size" th:value="${requestDto.size}" />
      <input type="hidden" name="genre" th:value="${requestDto.genre}" />
      <input type="hidden" name="sort" th:value="${requestDto.sort}" />
      <input type="hidden" name="movieList" th:value="popular" />
      <div class="d-flex justify-content-center">
        <select name="type" id="type" class="form-select me-2">
          <option value="mp" th:selected="${requestDto.type == 'mp'}">
            전체
          </option>
          <option value="m" th:selected="${requestDto.type == 'm'}">
            영화
          </option>
          <option value="p" th:selected="${requestDto.type == 'p'}">
            인물
          </option>
        </select>
        <input
          class="form-control me-2 w-25"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="keyword"
          th:value="${keyword}"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </form>
    <!-- Product Section Begin -->
    <section class="product spad">
      <div class="container">
        <div class="row">
          <div class="trending__product">
            <div class="header-title d-flex m-3">
              <!-- 장르 -->
              <div class="btn-group mr-3">
                <button
                  type="button"
                  class="btn btn-outline-danger dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  장르
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      th:href="@{movieList(movieList=nowPlaying,page=1,size=${requestDto.size},type=,keyword=,genre=,sort=popularity)}"
                      >전체</a
                    >
                  </li>
                  <li th:each="dto : ${genreDtos}">
                    <a
                      class="dropdown-item"
                      th:href="@{movieList(movieList=popular,page=1,size=${requestDto.size},type=${requestDto.type},keyword=${requestDto.keyword},genre=${dto.id},sort=${requestDto.sort})}"
                      >[[${dto.name}]]</a
                    >
                  </li>
                </ul>
              </div>
              <h3 class="text-white header-title-text">현재 상영작</h3>
            </div>
            <!-- 메뉴 -->
            <ul class="nav nav-pills nav-fill mb-4 tab-list">
              <li class="nav-item">
                <a
                  th:href="@{movieList(movieList=nowPlaying,page=1,size=${requestDto.size},type=,keyword=,genre=,sort=popularity)}"
                  class="nav-link text-white nowPlaying"
                  >현재 상영작</a
                >
              </li>
              <li class="nav-item">
                <a
                  th:href="@{movieList(movieList=upcoming,page=1,size=${requestDto.size},type=,keyword=,genre=,sort=popularity)}"
                  class="nav-link text-white upcoming"
                  >상영 예정작</a
                >
              </li>
              <li class="nav-item">
                <a
                  th:href="@{movieList(movieList=popular,page=1,size=${requestDto.size},type=,keyword=,genre=,sort=popularity)}"
                  class="nav-link text-white popular"
                  >전체 영화 목록</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">MY</a>
              </li>
            </ul>
            <!-- 영화 리스트 -->
            <div
              class="row trending__product-row"
              th:if="${requestDto.type != 'p'}"
            >
              <div class="d-flex sub-head">
                <h3 class="text-white">영화 건</h3>
                <a
                  href=""
                  class="btn btn-outline-danger"
                  th:if="${requestDto.type == 'mp'}"
                  >더보기</a
                >
              </div>
              <div
                class="col-lg-3 col-md-4 col-sm-6 product"
                th:each="dto, iterStat : ${result.dtoList}"
                th:if="${requestDto.type == 'mp' and iterStat.index < 4 or requestDto.type != 'mp'}"
              >
                <div class="product__item mb-2">
                  <a th:href="@{movieDetail(id=${dto.id})}"
                    ><img
                      th:src="'https://image.tmdb.org/t/p/w500/' + ${dto.posterPath}"
                      alt=""
                      class="product__item__pic set-bg"
                  /></a>
                </div>
                <div class="product__item__text mx-4">
                  <h5>
                    <a href="" th:text="${dto.title}">타이틀</a>
                  </h5>
                  <ul>
                    <li>예매율</li>
                    31.8%
                  </ul>
                  <ul>
                    <li>개봉일</li>
                    [[${dto.releaseDate}]]
                  </ul>
                </div>
              </div>
              <div class="mt-4"></div>
            </div>
            <div
              class="row trending__people-row"
              th:if="${requestDto.type != 'm'}"
            >
              <div class="d-flex sub-head">
                <h3 class="text-white">인물 건</h3>
                <a
                  href=""
                  class="btn btn-outline-danger"
                  th:if="${requestDto.type == 'mp'}"
                  >더보기</a
                >
              </div>
              <div
                class="col-lg-3 col-md-4 col-sm-6 product"
                th:each="dto, iterStat : ${result2.dtoList}"
                th:if="${requestDto.type == 'mp' and iterStat.index < 4 or requestDto.type != 'mp'}"
              >
                <div class="product__item mb-2">
                  <a th:href="@{movieDetail(id=${dto.id})}"
                    ><img
                      th:src="'https://image.tmdb.org/t/p/w500/' + ${dto.profilePath}"
                      alt=""
                      class="product__item__pic set-bg"
                  /></a>
                </div>
                <div class="product__item__text mx-4">
                  <h5>
                    <a href="" th:text="${dto.name}">타이틀</a>
                  </h5>
                  <ul>
                    <li>예매율</li>
                    31.8%
                  </ul>
                  <ul>
                    <li>개봉일</li>
                    [[${dto.knownForDepartment}]]
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- 페이지 -->
          <nav aria-label="..." th:if="${requestDto.type != 'mp'}">
            <ul class="pagination justify-content-center">
              <!-- Previous button -->
              <li
                th:class="'page-item ' + ${(result != null and result.prev) or (result2 != null and result2.prev) ? '' : 'disabled'}"
              >
                <a
                  class="page-link text-light bg-transparent"
                  th:href="@{
                      movieList(
                        movieList=${requestDto.movieList},
                        page=${(result != null and result.prev) ? result.start-1 : (result2 != null and result2.prev) ? result2.start-1 : 0},
                        size=${(result != null) ? result.size : result2.size},
                        type=${requestDto.type},
                        keyword=${requestDto.keyword},
                        genre=${requestDto.genre},
                        sort=${requestDto.sort}
                      )
                   }"
                  >Previous</a
                >
              </li>

              <!-- Page list -->
              <li
                th:class="page-item"
                aria-current="page"
                th:each="page : ${result != null ? result.pageList : result2.pageList}"
              >
                <a
                  th:class="'page-link text-light ' + ${result != null ? (result.page == page ? 'bg-danger border-light active' : 'bg-transparent') : (result2.page == page ? 'bg-danger border-light active' : 'bg-transparent')}"
                  th:href="@{
                      movieList(
                        movieList=${requestDto.movieList},
                        page=${page},
                        size=${(result != null) ? result.size : result2.size},
                        type=${requestDto.type},
                        keyword=${requestDto.keyword},
                        genre=${requestDto.genre},
                        sort=${requestDto.sort}
                      )
                   }"
                  th:text="${page}"
                ></a>
              </li>

              <!-- Next button -->
              <li
                th:class="'page-item ' + ${(result != null and result.next) or (result2 != null and result2.next) ? '' : 'disabled'}"
              >
                <a
                  class="page-link text-light bg-transparent"
                  th:href="@{
                      movieList(
                        movieList=${requestDto.movieList},
                        page=${(result != null and result.next) ? result.end+1 : (result2 != null and result2.next) ? result2.end+1 : 0},
                        size=${(result != null) ? result.size : result2.size},
                        type=${requestDto.type},
                        keyword=${requestDto.keyword},
                        genre=${requestDto.genre},
                        sort=${requestDto.sort}
                      )
                   }"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <!-- Product Section End -->
    <form action="" method="get">
      <input type="hidden" name="page" th:value="${requestDto.page}" />
      <input type="hidden" name="size" th:value="${requestDto.size}" />
      <input type="hidden" name="type" th:value="${requestDto.type}" />
      <input type="hidden" name="keyword" th:value="${requestDto.keyword}" />
      <input type="hidden" name="sort" th:value="${requestDto.sort}" />
      <input type="hidden" name="genre" th:value="${requestDto.genre}" />
      <input
        type="hidden"
        name="movieList"
        th:value="${requestDto.movieList}"
      />
    </form>
  </div>
  <th:block layout:fragment="js">
    <!-- <script th:src="@{/js/movie.js}"></script> -->
    <script th:src="@{/js/movietest.js}"></script>
  </th:block>
</html>
