<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <style>
      .spad {
        padding: 0;
      }
      .product {
        padding: 0;
      }
      .product__item__text {
        padding-top: 0;
        padding-left: 10px;
      }
      .product__item__text ul {
        margin: 0;
        color: #ffffff;
        font-weight: 500;
      }
      .product__item__text h5 a {
        color: #ffffff;
        font-weight: 700;
        line-height: 26px;
        display: block;
        width: 222px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .sub-head {
        margin-bottom: 10px;
        margin-left: 20px;
      }
      .sub-head h3 {
        margin-right: 10px;
      }
    </style>
  </th:block>

  <div layout:fragment="content">
    <!-- Product Section Begin -->
    <section class="product spad">
      <div class="container">
        <div class="row">
          <div class="trending__product">
            <div class="header-title d-flex m-3">
              <!-- 장르 -->
              <div class="btn-group mr-3">
                <button
                  type="button"
                  class="btn btn-outline-danger dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  장르
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      th:href="@{movieList(page=1,size=10,type=${requestDto.type},keyword=${requestDto.keyword},genre=,sort=${requestDto.sort})}"
                      >전체</a
                    >
                  </li>
                  <li th:each="dto : ${genreDtos}">
                    <a
                      class="dropdown-item"
                      th:href="@{movieList(page=1,size=10,type=${requestDto.type},keyword=${requestDto.keyword},genre=${dto.id},sort=${requestDto.sort})}"
                      >[[${dto.name}]]</a
                    >
                  </li>
                </ul>
              </div>
              <h3 class="text-white header-title-text">현재 상영작</h3>
            </div>
            <!-- 메뉴 -->
            <ul class="nav nav-pills nav-fill mb-4 tab-list">
              <li class="nav-item">
                <a
                  href="/movie/movieList?movieList=now_playing&genre=&page=1"
                  class="nav-link text-white nowPlaying"
                  >현재 상영작</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="/movie/movieList?movieList=upcoming&genre=&page=1"
                  class="nav-link text-white upcoming"
                  >상영 예정작</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="/movie/movieList?movieList=popular&genre=&page=1"
                  class="nav-link text-white popular"
                  >전체 영화 목록</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">MY</a>
              </li>
            </ul>
            <!-- 영화 리스트 -->
            <div class="row trending__product-row">
              <div class="d-flex sub-head">
                <h3 class="text-white">영화 건</h3>
              </div>
              <div
                class="col-lg-3 col-md-4 col-sm-6 product"
                th:each="dto : ${result.dtoList}"
              >
                <div class="product__item mb-2">
                  <a href=""
                    ><img
                      th:src="'https://image.tmdb.org/t/p/w500/' + ${dto.posterPath}"
                      alt=""
                      class="product__item__pic set-bg"
                  /></a>
                </div>
                <div class="product__item__text mx-4">
                  <h5>
                    <a href="" th:text="${dto.title}">타이틀</a>
                  </h5>
                  <ul>
                    <li>예매율</li>
                    31.8%
                  </ul>
                  <ul>
                    <li>개봉일</li>
                    [[${dto.releaseDate}]]
                  </ul>
                </div>
              </div>
              <div class="mt-4"></div>
            </div>
            <div class="row trending__people-row"></div>
            <!-- 페이지 -->
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                <li th:class="'page-item ' + ${result.prev ? '':'disabled'}">
                  <a
                    class="page-link text-light bg-transparent"
                    th:href="@{movieList(page=${result.start-1},size=${result.size},type=${requestDto.type},keyword=${requestDto.keyword},genre=${requestDto.genre},sort=${requestDto.sort})}"
                    >Previous</a
                  >
                </li>
                <li
                  th:class="page-item"
                  aria-current="page"
                  th:each="page : ${result.pageList}"
                >
                  <a
                    th:class="'page-link text-light ' + ${result.page == page ? 'bg-danger border-light active' : 'bg-transparent'}"
                    th:href="@{movieList(page=${page},size=${result.size},type=${requestDto.type},keyword=${requestDto.keyword},genre=${requestDto.genre},sort=${requestDto.sort})}"
                    th:text="${page}"
                  ></a>
                </li>
                <li th:class="'page-item ' + ${result.next ? '':'disabled'}">
                  <a
                    class="page-link text-light bg-transparent"
                    th:href="@{movieList(page=${result.end+1},size=${result.size},type=${requestDto.type},keyword=${requestDto.keyword},genre=${requestDto.genre},sort=${requestDto.sort})}"
                    >Next</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Section End -->
    <form action="" method="post">
      <!-- <input type="hidden" name="page" th:value="${page != null ? page:1}" />
      <input
        type="hidden"
        name="movieList"
        th:value="${movieList != null ? movieList:'now_playing'}"
      />
      <input type="hidden" name="genre" th:value="${genre}" /> -->
      <input type="hidden" name="movieList" th:value="${movieList}" />
    </form>
  </div>
  <th:block layout:fragment="js">
    <!-- <script th:src="@{/js/movie.js}"></script> -->
    <script th:src="@{/js/movietest.js}"></script>
  </th:block>
</html>
