<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/reservation.css}">
  </th:block>   
    <div layout:fragment="content">      
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th scope="col" class="bg-dark text-white">극장</th>
            <th scope="col" class="bg-dark text-white">영화</th>
            <th scope="col" class="bg-dark text-white">시간</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="row">
                <div class="col-6 theater-scroll">
                  <nav id="theaternav" class="h-100 flex-column align-items-stretch border-end bg-light p-0">                       
                    <nav class="nav flex-column p-0">
                      <th:block th:each="region : ${regions}">
                        <a class="nav-link text-dark fw-bold region-list" th:href="@{/reservation/theaters(region=${region})}" th:attr="data-region=${region}">
                          <span class="statetitle" th:text="${region}"></span>                         
                        </a>
                      </th:block>                    
                    </nav>
                  </nav>
                </div>
                <div class="col-6">
                  <div data-bs-spy="scroll" data-bs-target="#theaternav" data-bs-smooth-scroll="true" class="theater-scroll p-0" tabindex="0">
                    <div id="theater-list" class="nav flex-column p-0">
                    </div>
                  </div>
                </div> 
              </div>      
            </td>
            <td>
              <div>
                <ul id="movie-list" class="list-group list-group-flush">
                </ul>
              </div>
            </td>
            <td>
              <div class="date-schedule d-flex justify-content-start align-items-center flex-wrap gap-2">
                <ul id="dateList" class="d-flex list-unstyled mb-0">
                </ul>                
              </div>
              <div>
                <div class="select_tit">위키드</div>
                <div class="timeSelect">
                  <span class="theaterCate">IMAX</span>
                  <ul class="timelist-container" style="padding: 0; margin: 0;">
                    <li class="timelist" style="list-style: none;">
                      <a role="button" href="#" class="button">
                        <div>
                          <span class="time"><strong>12:00</strong></span>
                          <span class="seat-hall">
                            <span class="seat"><strong>180</strong>/180</span>
                            <span class="hall">1관</span>
                          </span>
                        </div>
                      </a>
                    </li>
                    <li class="timelist" style="list-style: none;">
                      <a role="button" href="#" class="button">
                        <div>
                          <span class="time"><strong>12:00</strong></span>
                          <span class="seat-hall">
                            <span class="seat"><strong>180</strong>/180</span>
                            <span class="hall">1관</span>
                          </span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>               
              </div>
            </td>                
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="#" class="select-info"> 
                좌석선택<i class="fa-solid fa-angles-right"></i>
              </a>
            </td>
          </tr>
        </tfoot>
      </table>        
    <th:block layout:fragment="js">
      <script th:src="@{/js/reservation.js}"></script>
    </th:block>   
</html>