<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/reservation.css}">
  </th:block>   
    <div layout:fragment="content">      
      <h3 class="color_white">예매</h3>
      <table class="table">
        <tr>
          <th scope="col">날짜</th>            
        </tr>
      </table>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>영화</th>
            <th>극장</th>
            <th>시간</th>
          </tr>
        </tbody>
        <div >
          <tr>
            <td>
              <ul class="list-group list-group-flush">
                <a  href="#" class="list-group-item list-group-item-action">
                  <li> 영화 리스트</li>
                </a>                        
              </ul>
            </td>
            <td>
              <div class="row">
                <div class="col-4">
                  <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">                       
                    <li class="nav-link" th:href="@{#item-1}">전체</li>
                    <nav class="nav nav-pills flex-column">
                      <a class="nav-link" th:href="@{#item-1-1}">극장리스트</a>                          
                    </nav>
                  </nav>
                </div>
                <div class="col-2">
                  <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                    <div id="item-1-1">
                      <h4></h4>
                        <p>.</p>
                    </div>
                  </div>
                </div> 
              </div>      
            </td>
            <td>
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">날짜요일</a>
                </li>
              </ul>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="#" class="list-group-item list-group-item-action">
                    <div>
                      <span>상영시간</span>
                      <span>영화타이틀</span>
                    </div>
                  </a>
                </li>
              </ul>
            </td>                
          </tr>
        </div>
      </table>        
    <th:block layout:fragment="js"></th:block>   
</html>