<!DOCTYPE html>
<html lang="en">
  <header class="header" th:fragment="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="header__logo">
            <a th:href="@{/movie/main}"
              ><h3 class="color_white">씨네플레닛</h3></a
            >
          </div>
        </div>
        <div class="col-lg-8">
          <div class="header__nav">
            <nav class="header__menu mobile-menu">
              <ul>
                <li class="active">
                  <a
                    th:href="@{/movie/movieList?movieList=nowPlaying&page=1&size=10&type=&keyword=&genre=&sort=popularity}"
                    >영화</a
                  >

                  <ul class="dropdown">
                    <li>
                      <a
                        th:href="@{/movie/movieList?movieList=nowPlaying&page=1&size=10&type=&keyword=&genre=&sort=popularity}"
                        >현재 상영작</a
                      >
                    </li>
                    <li>
                      <a
                        th:href="@{/movie/movieList?movieList=upcoming&page=1&size=10&type=&keyword=&genre=&sort=popularity}"
                        >상영 예정작</a
                      >
                    </li>
                    <li>
                      <a
                        th:href="@{/movie/movieList?movieList=popular&page=1&size=10&type=&keyword=&genre=&sort=popularity}"
                        >전체 영화 목록</a
                      >
                    </li>
                    <li><a th:href="@{/movie/movieList}">MY</a></li>
                  </ul>
                </li>
                <li>
                  <a th:href="@{/movie/reservation}">예매</a>

                  <ul class="dropdown">
                    <li><a href="">좌석선택</a></li>
                    <li><a href="">상영스케줄</a></li>
                  </ul>
                </li>
                <li>
                  <a href="./categories.html">Categories </a>
                  <ul class="dropdown">
                    <li><a href="./categories.html">이벤트</a></li>
                    <li><a href="./anime-details.html">스토어</a></li>
                    <li>
                      <a href="./anime-watching.html">해택</a>
                    </li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li><a th:href="@{/center}">고객센터</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="header__right">
            <a href="#" class="search-switch"
              ><span class="icon_search"></span
            ></a>
            <a sec:authorize="!isAuthenticated()" th:href="@{/member/login}"
              ><span class="icon_profile"></span
            ></a>
            <a sec:authorize="isAuthenticated()" th:href="@{/member/mypage}"
              ><span class="icon_profile"></span
            ></a>
          </div>
        </div>
      </div>
      <div id="mobile-menu-wrap"></div>
    </div>
  </header>
</html>
