<!DOCTYPE html>
<html lang="en">
  <header class="header" th:fragment="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="header__logo">
            <a th:href="@{/movie/main}"
              ><h3 class="color_white">씨네플레닛</h2></a
            >
          </div>
        </div>
        <div class="col-lg-8">
          <div class="header__nav">
            <nav class="header__menu mobile-menu">
              <ul>
                <li class="active">
                  <a th:href="@{/movie/movieList}">영화</a>

                  <ul class="dropdown">
                    <li>
                      <a th:href="@{/movie/movieList?movieList=now_playing}"
                        >현재 상영작</a
                      >
                    </li>
                    <li>
                      <a th:href="@{/movie/movieList?movieList=upcoming}"
                        >상영 예정작</a
                      >
                    </li>
                    <li>
                      <a th:href="@{/movie/movieList?movieList=popular}"
                        >전체 영화 목록</a
                      >
                    </li>
                    <li><a th:href="@{/movie/movieList}">MY</a></li>
                  </ul>
                </li>
                <li>
                  <a th:href="@{/movie/reservation}">예매</a>

                  <ul class="dropdown">
                    <li><a href="">좌석선택</a></li>
                    <li><a href="">상영스케줄</a></li>
                  </ul>
                </li>
                <li>
                  <a href="./categories.html">Categories </a>
                  <ul class="dropdown">
                    <li><a href="./categories.html">이벤트</a></li>
                    <li><a href="./anime-details.html">스토어</a></li>
                    <li>
                      <a href="./anime-watching.html">해택</a>
                    </li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li><a th:href="@{/center}">고객센터</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="header__right">
            <a href="#" class="search-switch"
              ><span class="icon_search"></span
            ></a>
            <a th:href="@{/member/login}"><span class="icon_profile"></span></a>
          </div>
        </div>
      </div>
      <div id="mobile-menu-wrap"></div>
    </div>
    <form class="" role="search" action="" id="searchForm">
      <input type="hidden" name="page" th:value="${page != null ? page:1}" />
      <input
        type="hidden"
        name="movieList"
        th:value="${movieList != null ? movieList:'now_playing'}"
      />
      <input type="hidden" name="genre" th:value="${genre}" />
      <div class="d-flex justify-content-center">
        <select name="type" id="type" class="form-select me-2">
          <option value="a" th:selected="${type == 'a'}">전체</option>
          <option value="m" th:selected="${type == 'm'}">영화</option>
          <option value="p" th:selected="${type == 'p'}">인물</option>
        </select>
        <input
          class="form-control me-2 w-25"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="keyword"
          th:value="${keyword}"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </form>
  </header>
</html>
